<h2>Populares</h2>
<div class="movie-carousel">
  <div class="arrow-container left">
    <button class="arrow" (click)="scrollLeft(popularScroll)">‹</button>
  </div>

  <div class="movie-row" #popularScroll>
    <div *ngFor="let movie of popularMovies" class="movie-card">
      <img [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path" [alt]="movie.title" />
      <h3>{{ movie.title }}</h3>
      <p>Año: {{ movie.release_date | date : 'yyyy' }}</p>
      <p>Rating: {{ movie.vote_average }} / 10</p>
    </div>
  </div>

  <div class="arrow-container right">
    <button class="arrow" (click)="scrollRight(popularScroll)">›</button>
  </div>
</div>

<h2>Mejor valoradas</h2>
<div class="movie-carousel">
  <div class="arrow-container left">
    <button class="arrow" (click)="scrollLeft(topRatedScroll)">‹</button>
  </div>

  <div class="movie-row" #topRatedScroll>
    <div *ngFor="let movie of topRatedMovies" class="movie-card">
      <img [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path" [alt]="movie.title" />
      <h3>{{ movie.title }}</h3>
      <p>Año: {{ movie.release_date | date : 'yyyy' }}</p>
      <p>Rating: {{ movie.vote_average }} / 10</p>
    </div>
  </div>

  <div class="arrow-container right">
    <button class="arrow" (click)="scrollRight(topRatedScroll)">›</button>
  </div>
</div>

<h2>Próximas películas</h2>
<div class="movie-carousel">
  <div class="arrow-container left">
    <button class="arrow" (click)="scrollLeft(upcomingScroll)">‹</button>
  </div>

  <div class="movie-row" #upcomingScroll>
    <div *ngFor="let movie of upcomingMovies" class="movie-card">
      <img [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path" [alt]="movie.title" />
      <h3>{{ movie.title }}</h3>
      <p>Año: {{ movie.release_date | date : 'yyyy' }}</p>
      <p>Rating: {{ movie.vote_average }} / 10</p>
    </div>
  </div>

  <div class="arrow-container right">
    <button class="arrow" (click)="scrollRight(upcomingScroll)">›</button>
  </div>
</div>
