@use "sass:color";
.movie-carousel {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}

.arrow-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  background-color: color.adjust(#3f3e3e, $alpha: -0.2);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;

  &:hover {
    background-color: #5c5a5a;
  }

  &.left {
    left: 0.5rem;
  }

  &.right {
    right: 0.5rem;
  }
}

.arrow {
  font-size: 2rem;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 101;
  margin-bottom: 0.3rem;
}

.movie-row {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1.5rem;
  padding: 1rem;
  scrollbar-width: none;
}

.movie-card {
  flex: 0 0 auto;
  width: 12.75rem;
  height: 17.85rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  background: rgba(33, 33, 33, 0.85);
  padding: 12px 16px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
  position: relative;
  z-index: 10;

  img {
    border-radius: 12px;
    width: 75%;
    height: 70%;
    object-fit: cover;
    margin-bottom: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  }

  h3 {
    font-size: 1.1rem;
  margin: 0 0 6px;
  font-weight: 700;
  color: #e50914;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  }

  p {
    font-size: 0.9rem;
    margin: 0 0 2px;
    color: #ccc;
  }

  &:hover {
    transform: scale(1.07);
    box-shadow: 0 12px 28px rgba(229, 9, 20, 0.8);
    z-index: 11;
  }
}

@media (min-width: 600px) {
  .movie-card {
    width: 15.3rem;
    height: 21.25rem;
  }
}

@media (min-width: 900px) {
  .movie-card {
    width: 17rem;
    height: 23.8rem;
  }
}
