<div class="login-container">
  <img src="assets/icons/Flixly_1.png" alt="Logo" class="app-logo" />

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-card">
    <input type="text" formControlName="userName" placeholder="Usuario" />
    <input type="password" formControlName="passWord" placeholder="Contraseña" />

    <button type="submit" [disabled]="isLoading">
      {{ isLoading ? 'Cargando...' : 'Iniciar sesión' }}
    </button>

    <div *ngIf="loginError" class="error-text">
      Credenciales incorrectas
    </div>
  </form>

  <div class="default-credentials">
  <p>Usuario por defecto: <strong>{{ defaultUsername }}</strong></p>
  <p>Contraseña por defecto: <strong>{{ defaultPassword }}</strong></p>
</div>
</div>
